/************************************************

Stylesheet: Brad's Custom Stylesheet

*************************************************/

@import 'colors';

/*********************
Global
*********************/

.marg{
	margin: 2rem 0;
	@include breakpoint(medium){
		margin: 4rem 0;
	}
}

.pad{
	padding: 4rem;
}


/*********************
Navigation
*********************/

.btn-mobile-nav{
	text-align: center;
	padding: 1rem;
}

// Mobile toggel icon
.list-container{
	vertical-align: bottom;
}

.fi-list{
	color: map-get($foundation-palette, primary);
	font-size: 1.5rem;	
}

li.is-accordion-submenu-item a{
	padding: .7rem 1rem .7rem 2rem;
}

//aligning elements
.top-bar{
	@include breakpoint(medium){
		padding-bottom: 2rem;
	}
}

// Donate styles
.donateButton{
	@include breakpoint(large){
	border: 2px solid map-get($foundation-palette, primary);
	}
}

// social menu
.top-bar-left{
	padding-top: 4rem;
	@include breakpoint(medium){
		padding-top: inherit;
		margin-top: -3rem;
	}
}

// foundation icon fonts for social media icons
span[class^="fi-social"]{
	margin: 0 1rem;
	font-size: 3rem;
	color: $black;
}

.top-bar-right{
	@include breakpoint(medium){
		margin-top: -1.75rem;
	}
}


.sitelogo{
	display: inline-block;
}

.sitelogo svg{
	height: 10rem;
	margin-bottom: -5rem;
}


/*********************
Homepage STYLES
*********************/

.news-image{
	padding: 0;
	overflow: hidden;
	max-height: 30rem;
}

h2.friends{
	text-align: center;
	margin-bottom: 2rem;
}

/*********************
Page STYLES
*********************/

.entry-content img {
    margin-bottom: 1rem;
}


/*********************
 Sidebar styles
*********************/

#searchform{
	margin-bottom: 2em;
}

.screen-reader-text{
	width: 100%;
	display: block;
}

#s{
	width: 90%;
	margin-bottom: .5em;
}

.sb-sidebar ul{
	padding-left: 0;
	padding: 1%;
    margin-left: 0;
}

.sb-sidebar li {
    list-style: none;
    margin-bottom: 1em;
    border-top: 1px solid #e6e6e6;
    padding-top: 1rem;
}

.sb-sidebar a{
	text-decoration: none;
}

.sb-sidebar a:hover{
	color: #555;
}

.sb-sidebar li a img{
	margin: 1em auto;
	display: block;
}

#sidebar-social{
	text-align: center;
}


/*********************
Footer
*********************/

footer.footer{
	border-top:1px solid $light-gray;
}

#menu-footer li{
	text-align: center;
	display: block;
	@include breakpoint(medium){
		text-align: left;
	}
}

#menu-footer li a{
	margin-bottom: 1rem;
}

.hours, .contact{
	text-align: center;
}

.copyright{
	padding-top: .5rem;
	text-align: center;
	@include breakpoint(medium){
		text-align: right;
	}
}
