/************************************************

Stylesheet: Brad's Custom Stylesheet

*************************************************/

@import 'colors';

/*********************
Global
*********************/

.marg{
	margin: 2rem 0;
	@include breakpoint(medium){
		margin: 4rem 0;
	}
}

.pad{
	padding: 4rem;
}


/*********************
Homepage STYLES
*********************/

.news-image{
	padding: 0;
}

/*********************
 Sidebar styles
*********************/

#searchform{
	margin-bottom: 2em;
}

.screen-reader-text{
	width: 100%;
	display: block;
}

#s{
	width: 90%;
	margin-bottom: .5em;
}

.sb-sidebar ul{
	padding-left: 0;
	padding: 1%;
}

.sb-sidebar li{
	list-style: none;
	margin-bottom: 1em;
	border-bottom: 1px solid #333;
}

.sb-sidebar a{
	text-decoration: none;
}

.sb-sidebar a:hover{
	color: #555;
}

.sb-sidebar li a img{
	margin: 1em auto;
	display: block;
	border-radius: 50%;
}

a.sb-link{
	text-align: center;
	border: 2px solid black;
	margin: 1rem;
	display: block;
	padding: .5em;
}

a.sb-link:hover{
	border: 2px solid #555;
}


/*********************
Footer
*********************/

#sidebar-social{
	text-align: center;
}

// ffoundation icon font s for social media icons
span[class^="fi-social"]{
	margin: 0 1rem;
	font-size: 3rem;
	color: $black;
}

.hours, .contact{
	text-align: center;
}

.copyright{
	text-align: center;
	@include breakpoint(medium){
		text-align: right;
	}
}